
/* CSS Document */
/* ##########Custumized style ########### */ /* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */

.ariane {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 22px;
	color: #444;
	font-weight: 700;
	margin-bottom: 20px;
	list-style: none;
	background-color: #ddd;;
	border-radius: 4px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
.ariane > li {
  display: inline-block;
   font-family: "Open sans Condensed", helvetica, arial;
	font-size: 22px;
	font-weight: 700;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
.ariane > li a {
 font-family: "Open sans Condensed", helvetica, arial;
	font-size: 22px;
	font-weight: 700;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	padding: 0 5px;
}

.ariane > li + li:before {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	 content: '\f054';
  /* content: url(../web2/png/arrow_right_2.gif ); */
  /* content: ">\00a0";>*/
  color: #444;
  padding-right:10px;
}
.ariane > .active {
 color: #444;
}


.navbar-#06B1EF {
  background-color: #0081C2;
    border-color: #0081C2; 
  
}


.navbar-#06B1EF .navbar-brand {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
	}
	
.navbar-#06B1EF .navbar-brand:hover,
.navbar-#06B1EF .navbar-brand:focus {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
}

.navbar-#06B1EF .navbar-nav > li > a {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	margin-top: 12px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 20px;
}
.navbar-#06B1EF .navbar-nav > li > a:hover,
.navbar-#06B1EF .navbar-nav > li > a:focus {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
}



.navbar-#06B1EF .navbar-toggle {
  border-color: #ddd;
}
.navbar-#06B1EF .navbar-toggle:hover,
.navbar-#06B1EF .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-#06B1EF .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-#06B1EF .navbar-collapse,
.navbar-#06B1EF .navbar-form {
  border-color: #e7e7e7;
}
.navbar-#06B1EF .navbar-nav > .open > a,
.navbar-#06B1EF .navbar-nav > .open > a:hover,
.navbar-#06B1EF .navbar-nav > .open > a:focus {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
}
@media (max-width: 767px) {
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > li > a:focus {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: white;
	font-weight: 700;
	background-color: transparent;
	padding: 0 0 0 20px;
	margin: 12px 0 0 0;
  }
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #fff;
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	font-weight: 700;
	color: white;
	padding: 0 0 0 15px;
	margin: 12px 0 0 0;
  }
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-#06B1EF .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
  }
}
.navbar-#06B1EF .navbar-link {
  color: #fff;
}
.navbar-#06B1EF .navbar-link:hover {
  color: #fff;
}

/* ##########inported part from other bootstrap style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */

	
	/* Footer */
.footer1 { background: #1E272C; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #0081C2; padding: 15px 0; color: #000; font-size: 12px; }
	.footer2 a { color: #000; }
		.footer2 a:hover { color: #000; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px;}		
	.widget-simplenav a{ margin:0 5px; }		
	
	/*******************************/
/*           Jumbotron         */
/*******************************/
.jumbotron { color: inherit; background-color: #F7F5F4; padding-top:30px; padding-bottom:30px; margin-bottom:0; }
.container .jumbotron { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-left:40px; padding-right:40px; }
	.jumbotron p { font-size:inherit; }
	.jumbotron h2, .jumbotron h3, .jumbotron h4, 
	.jumbotron h5, .jumbotron h6 { line-height: 1.3em; }


.container_2 {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 960px;
  padding-right: 5px;
  padding-left: 15px;

}



#outer  {
	display: block;
	text-align: left;
	width: 990px;
	background-color: #FFFFFF;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	margin-right: auto;
	margin-bottom: 1px;
	margin-left: auto;
	border: 1px solid #F4F4F4;
}

.newsbox_featured{
	display:block;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 14px;
	float:left;
	width:300px;
	padding:0;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align:left;
	}

.newsbox_featured h1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 30px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.newsbox_featured h2 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
.newsbox{
	display:block;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 14px;
	float:left;
	width:200px;
	padding:0;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align:left;
	}
	
.newsbox h1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 24px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.newsbox h2{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	}	
.newsbox_right_#06B1EF{
	display:block;
	float:left;
	width:215px;
	padding:0;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 1px;
	text-align:right;
	background-color: #0081C2;
	}

	
.article_titre_1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	}
	
.article_titre_1 a {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	}
	
.article_titre_2 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 26px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.article_titre_2 a {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 26px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.article_titre_3 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #333;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}

.article_titre_3 a {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #333;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}

.article_titre_4 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 14px;
	color: #666;
	font-weight: 700;
	padding-top: 5px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.article_titre_4 a {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 14px;
	color: #666;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}


.bienvenue_box{
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	float: left;
	width: 710px;
	padding: 0;
	margin-top: 0;
	margin-right: 25px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align: left;
	background-color:#fff;
	
	}
	
.actualites_box{
	display: block;
	font-family: "Open sans", helvetica, arial;
	font-size: 12px;
	color: #666;
	float:left;
	width: 220px;
	padding: 0;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 1px;
	text-align: left;
	color: #666;
	background-color: #fff;
	}
	
	
.toute_actualite{
	display: block;
	float: left;
	width: 220px;
	color: #06B1EF;
	padding: 0;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align: left;
	
	}
	
.toute_actualite a{
	color: #06B1EF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	}

	
.actualites_box p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 0px;
	margin-left: 0;
	text-align: left;
	}
	
.actualites_box a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 0px;
	margin-left: 0;
	text-align: left;
	}

.actualites_box a:hover{
	color: #FF9900;
	text-decoration: underline;
	}


	
.actualites_categorie{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0;
	text-align: left;
	text-transform: uppercase;
	}
	
.actualites_box h1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 30px;
	/* color: #0A3C03; */
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align:left;
}

.bienvenue_box h1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 30px;
	/* color: #0A3C03; */
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align:left;
}
.droits_reserves{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: block;
	float: right;
	width: 220px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 10px;
	text-align: left;
	color: #000;
	}
.plan_du_site{
	display:block;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 12px;
	float:left;
	width:300px;
	padding:0;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align:left;
	}
	
.follow_me{
	display:block;
	font-family: "Open sans", helvetica, arial;
	font-size: 14px;
	float:left;
	width:190px;
	padding:0;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 10px;
	text-align:left;
	color:#000;
	}

.follow_me h2{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	}
.contact_me{
	font-family: "Open sans", helvetica, arial;
	font-size: 14px;
	color: #fff;
	display:block;
	float:right;
	width:220px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 10px;
	text-align:	left;
	}
	
.contact_me h2{	
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	}	
/* Footer Navigation */
.footer_large_nav{margin:0; padding:0;}

.footer_large_nav ul li a{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height:30px;
}

.footer_large_nav ul li a:hover{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #F90;
	}
.large_copyright {
	border-top:5px solid #eaeaea;
	/*background-color: #212222;*/
	background-color: #0081C2;
	width:100%;
}

/*Gallery*/
	#gallery {
	height: 350px;
	overflow: hidden;
	width:960px; 
  margin-right: auto;
  margin-left: auto;
	
	}
	
.container_html5 {
	margin: 0 auto;
	position: relative;
	width: 1000px;

}
	

/* Slider */
#slider {
	width: 960px;
	height: 301px;
	padding: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
	}
.slider_row {
	margin-right: -15px;
	margin-left: -15px;
	background-color: #E4E4E4;
}
	
div#slideshow {
	float: left;
	width: 100%;
	height: 300px;
	text-align: center;
}
.slider-item { width:100% !important; height:300px;}
.slider_content_inner img { border:none;}
.controls-center { width:960px; margin:0 auto;}
#slider_controls {
	position:relative;
	margin:-9px auto 5px auto;
	z-index:1000;
	width:260px;
	height:24px;
	/*background-image: url(../images/tabs_bg.gif);
	background-repeat: no-repeat;
	background-position: center;--*/
}
#slider_controls ul { margin:0; padding:0 3px; width:80px; list-style:none; display:block;}
#slider_controls ul li { width:16px; height:16px; float:left; display:block; padding:0 2px; margin:-5px 0 0 0 !important; margin:4px 0 0 0;}

#slider_controls ul li a {
	width:16px;
	height:16px;
	display:block;
	padding:0;
	margin:0;
	outline:none;
/* background-image: url(../images/tabs_2.gif);
	background-repeat: no-repeat;
	background-position: center center;--*/
}

/* ----------------------------------------------Topbar-------------------------------------*/
#slider_controls ul li a:focus { outline:none;}
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide {
/*	background-image: url(../images/tabs_1.gif);
	background-repeat: no-repeat;
	background-position: center center;*/
}

.right_bar {
	display: inline;
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-align: left;
	width: 218px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 0px;
	float: left;
}

/* Sidebar */

.right_bar aside{line-height:1.2em;}
.right_bar aside h2{margin-bottom:10px; padding-bottom:8px; border-bottom:5px solid #fff; font-size:1.4em;}

.left_bar aside{line-height:1.2em;}
.left_bar aside h2{margin-bottom:10px; padding-bottom:8px; border-bottom:5px solid #fff; font-size:1.4em;}
.right_bar aside ul.nospace li{margin-top:20px;}

aside {display:block; margin:0; padding:0;}
/*-----------------------------------------Navigation-------------------------------------*/


/* Sidebar Navigation */

.right_bar aside nav{display:block; width:100%; margin-bottom:20px;background-color: transparent;}
.right_bar aside nav ul{margin:0; padding:0; list-style:none;}
.right_bar aside nav li{margin:0 0 3px 0; padding:0;}
.right_bar aside nav a{
	display: block;
	margin: 0;
	color: #fff;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.right_bar aside nav a:hover{color:#F90; background-color:inherit;}
.right_bar aside nav ul ul a{
	background-image: url(../btn_blanc9.gif);
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
}
.right_bar aside nav ul ul a{padding-left:40px; background-position:30px center;}
.right_bar aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
.right_bar aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
.right_bar aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}

.container_html5 {
	margin: 0 auto;
	position: relative;
	width: 1000px;

}

.logo{
	display:block;
	float:left;
	margin-top:0px;
	margin-left:1px;
	}
	
.langue {
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	margin-left:25px;
	background-color: #fff;
	line-height: 1.6em;
	vertical-align: middle;
}

.langue a {
	color: #0A3C03;
	

}

.langue a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	
}


.search_bow {
	float: right;
	text-align: left;
	margin-top:10px;
}

.logo_box{
	display: block;
	float: left;
	width: 300px;
	padding: 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom:10px;
	margin-left: 0px;
	text-align: left;
	
	
	}
	
.langue_box{
	display: block;
	float: right;
	width: 300px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: left;
	background-color: #fff;
	padding-top: 0;
	padding-right: 10;
	padding-bottom: 0;
	padding-left: 0;
	}


.container_intern h1 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding-bottom:20px;

}

.container_intern h2 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 26px;
	color: #000;
	font-weight: 700;
	padding-top:20px;
	padding-bottom:10px;

}


.container_intern {
	margin: 0 auto;
	position: relative;
	width: 960px;
	font-family: "Open sans", helvetica, arial;
	color: #666;
	font-size: 14px;
	text-align:left;

}

.record {
	width:580px;
	height:20px;
	float:none;
	margin:auto;
	padding:7px 10px;
	}	
	
	
#recordnav a:link, #recordnav a:hover, #recordnav a:visited {
	width:120px;
	float:left;
	padding:1px;
	font-size:14px;
	font-weight:normal;
	color:#006600;
	margin-right: 10px;
	margin-left: 10px;
	}


.header_blog { padding:0; margin:0;}

.bandemenu
{
		display: block;
	margin: 0 auto;
	position: relative;
	width: 960px;
  padding-right: 5px;
  padding-left: 0px;
}

/*----------------------topnav------------------------
Template Name: BusinessToday

*/



#topnav{
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	font-size: 18px;
	font-weight: 700;
	font-family: "Open sans Condensed", helvetica, arial;
	color:#FFFFFF;
	/*background-color:#70AA00;*/
	/*background-color: #0081C2;*/
	/*background-color:#17360D;*/
	
	}
	
#topnav ul, #topnav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0;
	color:#FFFFFF;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	}

#topnav li a:hover, #topnav ul li.active a{
	color: #FFFFFF;
	background-color: #06B1EF;

	text-decoration: none;
	}
	
	
	
#topnav ul ul li a:link, #topnav ul ul li a:visited{
	border:none;
	}

#topnav li.last a{
	margin-right:0;
	}


	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	text-align:left;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#900000;
	background-color:#F89E08;
	}
	
#topnav li li a:hover{
	color:#FFFFFF;
	background-color:#900000;
	}

#topnav li ul{
	background: #FFFFFF;
	z-index:9999;
	position: absolute;
	left: -999em;
	height:auto;
	width:170px;
	border-left:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	}

#topnav li ul a{width: 140px;}

#topnav li ul ul{margin: -32px 0 0 0;}

#topnav li:hover ul ul{left: -999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{ position: static;}

#topnav li.last a{margin-right:0;}



#share-buttons img {
	float:right;
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

