
/* CSS Document */
/***** BASE CSS *****/


/* Site Name */

#divSiteTitle {text-decoration:none;}

#divTagLine {text-decoration:none;}


/* Headline Text */

#divHeaderLine1 {display:inline-block !important}

#divHeaderLine2 {display:inline-block !important}

#divHeaderLine3 {display:inline-block !important}


/* Headings */

h3, h4, h5, h6 {line-height:1.5 !important}

.lead {
    text-align:center;
}

.lead h2 {
    font-size:33px;line-height:45px;
}

.lead h3 {
    font-size:17px;
}

.lead h3 a {
    font-size:inherit !important;
}


/* Contact */

ul#contact-info .icon {font-size:20px;float:left;line-height:25px;margin-right:10px; margin-left:0px;}

ul#contact-info .field {font-weight:bold;}
ul#contact-info .courriel {
	font-weight: normal;
}

ul#contact-info {list-style:none;}


/* Grid */

#tiles li {
width:240px !important;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;margin-bottom:7px;float:left;
}

#tiles li img {margin-bottom:10px;}

#tiles li div.meta {color:#999;text-transform:uppercase;font-size:10px;margin:0;}

#tiles li h4 {line-height:1.5;margin:0 0 5px 0;}

#tiles li h4 a {line-height:inherit;margin:0;text-decoration:inherit;color:inherit;font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;}

#tiles li p {font-size:12px;line-height:1.5;margin:0;}

#tiles li a {font-size:12px;}

#tiles li .more_link {font-size:smaller;line-height:2;text-transform:uppercase;letter-spacing:2px;white-space:nowrap;display:block;margin: 5px 0 0 0;}

#tiles li blockquote {line-height:1.5;margin:0;padding:0;color:#999;border:none;font-size:150%;font-style:italic;font-family:Georgia, Times, serif;}

#tiles li blockquote small {font-size:11px;font-style:normal;}


/* Icons */

[class*="social foundicon-"]:before {font-family: "SocialFoundicons";}

[class*="general foundicon-"]:before {font-family: "GeneralFoundicons";}

        
/* Menu Side */

.menu_menu_simple ul {margin-top:0px;margin-bottom:0px;}

.menu_menu_simple ul li {margin-top:0px;margin-bottom:0px;}


/* Header Area */

#decorative1 {
margin-top:-2px;padding-top:2px;    
margin-left: -20px !important;
margin-right: -20px !important; /* fix bg cover issue */
}


/* Menu Centered */

.centered_menu {text-align:center}

.centered_menu > div {display:inline-block;}

.centered_menu div {text-align:left}


/* Footer elements */

.social_bookmarks a {font-size:smaller !important;text-transform:uppercase;letter-spacing:1px;text-decoration:none;margin-right:20px;}

.copyright {font-size:smaller;letter-spacing:1px;}


/* Responsive Image */

img {max-width:100%;height:auto;width:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */

.flex-video {position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow: hidden;}

.flex-video.widescreen {padding-bottom:57.25%;}

.flex-video.vimeo {padding-top:0;}

.flex-video iframe, .flex-video object, .flex-video embed {position:absolute;top:0;left:0;width:100%;height:100%;border:none;}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }

    }

    
/* Additional */
    
#divBoxed {position:relative}
 
.nav-links > a {margin-right:20px;}

.btn-secondary, .btn-secondary:hover {text-shadow:none;}

#divHeaderLine1 a, #divHeaderLine2 a, #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

#divHeaderLine1, #divHeaderLine2, #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit !important;
}

#decorative2 {/*opacity:0.95;*/

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
}

.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.cap1 div, .cap2 div, .cap3 div, .cap4 div, .cap5 div {
    margin: 0 -1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {margin:20px 5px 0px !important;
}

.box{
	text-align: center;
	margin-bottom: 30px;
}

.box i{
	font-size: 50px;
	color: #E05F03;
}

img.pull-left { margin-right:15px !important; margin-top:7px !important;}


/* Adjustments */

.search.adjust {margin-bottom:15px}
      
.divPanel {}

.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px}


/***** BOOTSTRAP CSS BASE OVERRIDE *****/

.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal;}

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}




body { background-color: #ffffff;}

@media (min-width: 1200px) {
  .container {
    width: 960px;
   }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
   }
 }

#divBoxed {margin-top: 51px; ;;;}

#divLogo{margin-top: 48px; margin-bottom: 0px; text-align: left;}

#divSiteTitle{font-family: Syncopate; font-size: 30px; line-height: 49px; color: rgb(224, 95, 3); text-shadow: rgba(0, 0, 0, 0.0980392) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; letter-spacing: 4px; font-weight: normal; font-style: normal; text-transform: uppercase;}

#divTagLine{color: rgb(150, 150, 150); line-height: 24px; text-transform: none; letter-spacing: 4px; font-size: 16px; padding-left: 2px; padding-right: 2px; background-color: transparent; text-shadow: none; font-family: Abel; font-weight: normal; font-style: normal; text-decoration: initial;}

.navContainer {}

.navContainer .navMenu {}

.navContainer .navMenu li {}

.navContainer .navMenu li a {}

.navContainer .navMenu li.current {}

.navContainer .navMenu li.current a {}

.camera_caption > div {opacity: 0.85;filter:alpha(opacity=85);}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {opacity: 0.85;filter:alpha(opacity=85) !important;background-color:rgb(240, 240, 240);}

.camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li:hover > span {box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; background-color: rgb(230, 230, 230);  }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {}

.camera_wrap {display: block; margin-bottom: 15px; height: 391px; border: 5px solid rgb(255, 255, 255); margin-left: -5px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 59px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;}

.cap1 > div {opacity: 0.85;filter:alpha(opacity=85);background-color:rgb(213, 106, 64);}

.cap2 > div {opacity: 0.85;filter:alpha(opacity=85);background-color:rgb(85, 139, 197);}

.cap3 > div {opacity: 0.85;filter:alpha(opacity=85);}

.cap4 > div {opacity: 0.85;filter:alpha(opacity=85);}

.cap5 > div {opacity: 0.85;filter:alpha(opacity=85);}

.camera_full_width {margin-left:-40px;margin-right:-40px}

h1 {font-weight: normal; font-style: normal; letter-spacing: 0px; line-height: 65px; margin-top: 0px; font-family: 'Source Sans Pro', sans-serif; color: rgb(0, 0, 0); font-size: 40px;}

.page-content {line-height: 22px; font-family: 'Open Sans', sans-serif;}

.page-content a {color: rgb(208, 88, 3); font-family: 'Open Sans', sans-serif;}

.sidebox {background-color: rgb(250, 250, 250); -webkit-box-shadow: none; box-shadow: none; padding: 18px; margin-top: 26px; border: 1px solid rgb(235, 235, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-family: 'Open Sans', sans-serif; line-height: 24px; color: rgb(51, 51, 51);}

.sidebar{padding-top: 23px; }

.sidebox-title {font-weight: normal; font-style: normal; font-size: 20px; letter-spacing: 0px; line-height: 40px; font-family: 'Source Sans Pro', sans-serif; color: rgb(51, 51, 51);}

.sidebox a {color: rgb(208, 88, 3); font-family: 'Open Sans', sans-serif;}

#divFooter{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: rgb(211, 211, 211);
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 22px;
	/*background-image: url(../styles/tactile_noise.png);
	background-repeat: repeat repeat; */
}

.divPanel {padding: 0px;;;;}

#divFooter a {color: #FFF; font-size: 14px; font-family: 'Open Sans', sans-serif;}
#divFooter a:hover {color: #F90; font-size: 14px; font-family: 'Open Sans', sans-serif;}

#divFooter h3 {font-family: "Open sans Condensed", helvetica, arial; font-weight: 700; font-style: normal; font-size: 20px; line-height: 45px; color: #fff;margin-bottom: 15px; margin-top: 0px;}

#divFooter h3 a {font-family: "Open sans Condensed", helvetica, arial; font-weight: 700; font-style: normal; font-size: 20px;}



h2 {font-weight: normal; font-style: normal; font-family: "Open sans Condensed", helvetica, arial; font-size: 30px; line-height: 50px;}

.transparent-bg {-moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;   background-color: rgb(255, 255, 255); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;;}

.breadcrumbs {font-size: 14px; line-height: 80px; font-family: 'Open Sans', sans-serif;}

.breadcrumbs a {color: rgb(208, 88, 3); font-family: 'Open Sans', sans-serif;}

#divHeaderLine1 {font-family: 'Source Sans Pro', sans-serif; font-size: 43px; line-height: 42px; margin-top: 0px; text-transform: none; color: rgb(224, 95, 3); letter-spacing: 1px; text-align: center; text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; background-image: none; opacity: 1; padding: 0px;}

#divHeaderLine2 {font-family: 'Source Sans Pro', sans-serif; font-size: 19px; line-height: 30px; margin-top: 12px; color: rgb(34, 34, 34); letter-spacing: 1px; text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; text-align: center; background-image: none; opacity: 1; padding: 0px; font-weight: normal;}

#divHeaderLine3 {margin-top: 15px; line-height: 22px; color: rgb(0, 0, 0); text-align: center; font-family: 'Source Sans Pro', sans-serif;}

a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}

 a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {color:#ffffff}

 .btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

 .btn-secondary {border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #afafaf;
	background-color:#fafafa;	background-repeat: repeat-x;background-image:linear-gradient(top, #fafafa, #e1e1e1);
}

 .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:#dfdfdf;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {color:#ffffff;}

 .btn-primary {border-left: 1px solid #c75503;
	border-right: 1px solid #c75503;
	border-top: 1px solid #c75503;
	border-bottom: 1px solid #9d4302;
	background-color:#e05f03;	background-repeat: repeat-x;background-image:linear-gradient(top, #e05f03, #ca5603);
}

 .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color:#c75503;}

#divHeaderText {padding: 0px 0px 20px; border-color: rgb(51, 51, 51); text-align: center;}

#footerOuterSeparator{margin-top: 28px; height: 0px; background-color: rgb(255, 255, 255); border-top-color: rgb(255, 255, 255); border-top-width: 0px; border-top-style: solid;}

#headerSeparator{margin-top: 0px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid;}

h3,.page-content h3 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; line-height: 50px;}

h4,.page-content h4 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 21px; line-height: 50px;}

h5,.page-content h5 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 17px; line-height: 50px;}

h6,.page-content h6 a {font-weight: normal; font-style: normal; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; line-height: 50px;
    text-align: right;
}

.line-separator{border-top-width: 1px; border-top-style: dotted; margin-top: 21px; margin-bottom: 21px; border-top-color: rgb(195, 195, 195); }

#divVideo{border: 7px solid rgb(255, 255, 255); margin-left: -5px; -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 15px; }

.nav .dropdown-toggle .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.nav .dropdown-toggle:hover .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.navbar .dropdown-menu, .dropdown-menu {background-color: #0081C2;border-radius:0px;}

.navbar .dropdown-menu li > a, .dropdown-menu li > a, .navbar .nav-pills .open .dropdown-toggle {color:#fff;}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu .active > a, .navbar .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar .nav-pills .open a.dropdown-toggle:hover {filter:none; color:#fff; background-color:#06B1EF; background-image:none}

.navbar .nav-pills > li > a {
	margin-left: 0px;
	margin-right: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
	border-radius:0px;
}

.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle {color:#fff;background-color:#06B1EF;}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {background:none}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills li.dropdown.open > .dropdown-toggle, .navbar .nav-pills li.dropdown.active > .dropdown-toggle {
	color: #fff;
	background-color: #06B1EF;
}

.navbar .ddmenu {margin-top:0px;margin-bottom:0px}



.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}

.dropdown-menu li:hover .sub-menu {visibility:visible;}

.ddmenu.nav-pills li a {
	line-height: 17px; 
	font-size: 18px;
	font-weight: 700;
	font-family: "Open sans Condensed", helvetica, arial;
	color:#FFFFFF;
}

.ddmenu .dropdown-menu li a {font-family: "Open sans Condensed", helvetica, arial; line-height: 26px; font-size: 15px;}

.camera_caption {font-size: 15px; font-family: Oxygen, sans-serif; letter-spacing: 1px; line-height: 22px; text-transform: lowercase; font-weight: normal;}

.lead h2 {font-size: 45px; line-height: 65px; font-family: 'Source Sans Pro', sans-serif;}

.lead h3 {font-size: 23px; font-family: 'Source Sans Pro', sans-serif;}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}
.dropdown-menu li:hover .sub-menu {visibility:visible;}
.navbar .btn-navbar-highlight {display:none;width:100%}

#decorative2 {z-index:100 !important}

@media (max-width: 979px) {
     #divLogo {margin-bottom:10px;}


    .navbar .btn-navbar-highlight {display:inline;padding:9px 14px;margin-top:15px;}

    .navbar {width:100%;}

    #divMenuRight {float:none; }


    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}


    /* Fixed Top */

    #decorative2 {position:static;  height:auto;}

    body {padding-top:0px}


}


@media (max-width: 767px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}

    
    #divHeaderText {margin:0px;padding:10px 0px;}
   
    #divHeaderLine1 {margin-top: 0px;}
     
    
    #divMenuRight {width:100%;margin-top: 0px;padding-top:0px}

    .ddmenu, .navbar .ddmenu {margin-top: 0px; margin-bottom: 0px;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0px;}

    .navbar {width:100%;margin-top: 0px;padding-top:0px}

    
    #decorative1, #decorative2, #decorative3 {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

    
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0px}

    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}

    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    
    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    
    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}

    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}

}



/* CSS Document */
/* ##########Custumized style ########### */ /* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */
/* ##########Custumized style ########### *//* ##########Custumized style ########### *//* ##########Custumized style ########### */
/*ocustomed by Yach*/
/*ocustomed by Yach*/
/*ocustomed by Yach*/
/*ocustomed by Yach*/
/*ocustomed by Yach*/
/*ocustomed by Yach*/



/*----------------------topnav------------------------
Template Name: BusinessToday

*/



#topmenu{
	display:block;
	float:none;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	font-size: 18px;
	font-weight: 700;
	font-family: "Open sans Condensed", helvetica, arial;
	color:#FFFFFF;
	  background-color: #0081C2;
    border-color: #0081C2; 
	
		/*background-color:#70AA00;*/
	/*background-color: #0081C2;*/
	/*background-color:#17360D;*/
	
	}
#large_bande{
	display:block;
	float:none;
	width:100%;
    border-color: #F90;; 
		/*background-color:#70AA00;*/
	/*background-color: #0081C2;*/
	/*background-color:#17360D;*/
	
	}


	
#divBox {position:relative}
#divBox {margin-top: 5px; }
#divBox > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}

.logos{
	display:block;
	float:left;
	margin-top:0px;
	margin-left:1px;
	}
	
.lang {
	float: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	margin-left:25px;
	background-color: #fff;
	line-height: 1.6em;
	vertical-align: middle;
}

.lang a {
	color: #0A3C03;
	

}

.lang a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	
}


.searche_bow {
	float: right;
	text-align: left;
	margin-top:10px;
	margin-right:0px;
	width: auto;
}

.logos_box{
	display: block;
	float: left;
	width: auto;
	padding: 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom:10px;
	margin-left: 0px;
	text-align: left;
	
	
	}
	
.lang_box{
	display: block;
	float: right;
	width: 310px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: left;
	background-color: #fff;
	padding-top: 0;
	padding-right: 10;
	padding-bottom: 0;
	padding-left: 0;
	}


.thumb_nails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumb_nails:before,
.thumb_nails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumb_nails:after {
  clear: both;
}

.row-fluid .thumb_nails {
  margin-left: 0;
}

.thumb_nails > li {
  float: left;
  margin-bottom: 5px;
  margin-left: 20px;
}

.thumb_nails {
	display: block;
	line-height: 15px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color:#fff;
}

.thumb_nails ul li {
	list-style-image: url(../btn_gris_fonce.gif);
}


.thumb_nails > img {
  display: block;
  max-width: 100%;
  text-align:left;

}

.thumb_nails > imgl {
  display: block;
  max-width: 100%;
  float:left;
}

.thumb_nails .caption {
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333;
	/*color: #555555;*/
	text-align: left;
	line-height: normal;
}

.thumb_nails .caption a {
  padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color:#090;
	/*color: #555555;*/
	text-align: left;
}


.thumb_nails .caption h1{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	padding-bottom:20px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}

.thumb_nails .caption h2{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 24px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: left;
	line-height: 25px;
}

.dividerline{
	float:left;
	width:100%;
	height:2px;
	border-top:1px dotted #DDDDDD;
	margin-bottom: 1px;
	}

.divider 
{
	width: 100%;
	height: 5px;
	background-color: #FFFFFF;
	background-image: url(../menu.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.divider_2 
{
	width: 100%;
	height: 9px;
	background-color: #FFFFFF;
	background-image: url(../border2.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.topdivider 
{
	width: 100%;
	height: 10px;
	background-color: #FFFFFF;
	background-image: url(../grisblanc_pointilles.gif);
	background-repeat: repeat-x;
	background-position: left top;
}


		
.spacer
{
	height: 2px;
	width: 100%;
	margin-bottom: 1px;
}

.cadre_gris {
	color: inherit;
	background-color: #F3F3F3;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.container .cadre_gris { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.projects_header {
	font-family: "Open sans Condensed", helvetica, arial;
	font-weight: 700;
	font-size: 24px;
	line-height: 45px;
	color: #666; 
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}

.more a{
	float:right;
	text-align: right;
	margin-right: 2px;
	font-size: 10px;
	color: #666666;
	font-weight: bold;

}

.carreaux {
	float:right;
	text-align: right;
	margin-right: 2px;
}

.projects {
	marging-top: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	text-align: left;
	line-height: normal;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;	
	
	
}

.projects a{
	color: #666;
	text-decoration:none;
	
}
.projects a:hover{
	color: #090;
	text-decoration:none;
	
}

.projects h1 {
	padding: 5px;
	margin-bottom:0px;
	font-family: "Open sans Condensed", helvetica, arial;
	font-weight: 700;
	font-size: 20px;
	color: #666;
	text-align: left;
}

.projects h2 {
	padding: 5px;
	margin-bottom: 0px;
	font-family: "Open sans Condensed", helvetica, arial;
	font-weight: 700;
	font-size: 18px;
	color: #000;
	text-align: left;
	line-height: normal;
}

.google_alert {
	marging-top: 20px;
	marging-bottom: 15px;
	background-color: #fff;
	text-align: left;
	line-height: normal;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 0px;	

}
.source {
	font-weight: normal;
	marging-top: 5px;
	marging-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #666;
	background-color: #fff;
	text-align: left;
	line-height: normal;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;	

}
.source_date {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #666;
	background-color: #fff;
	text-align: left;
	line-height: normal;
	margin-bottom: 10px;
	
}
.secteur {
	font-family: "Open sans Condensed", helvetica, arial;
	font-weight: 700;
	font-size: 20px;
	line-height: 45px;
	/*color: #71B103;*/
	color: #666;
	background-color: #fff;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;	
}

.secteur_2 {
	font-family: "Open sans Condensed", helvetica, arial;
	font-weight: 700;
	font-size: 20px;
	line-height: 45px;
	/*color: #71B103;*/
	color: #6AAF01;
	background-color: #fff;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 10px;	
}
.project_description {
	marging-top: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #666;
	/*background-color:#ccc; */
	background-color: #fff;
	text-align: left;
	line-height: normal;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}



.thumb_nails .news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 0px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}

.thumb_nails .news h1{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}

.thumb_nails .news h2{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}

.thumb_nails .news a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 0px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
	}
	
.thumb_nails .news a:hover{
	color: #F90;
	}

.thumb_nails .article {
font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333;
	padding: 0px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}

	
	
.thumb_nails .article h1{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
}



.thumb_nails .article a{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 36px;
	color: #000;
	font-weight: 700;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	text-align: left;
	line-height: normal;
	}
	
.thumb_nails .article a:hover{
	color: #F90;
	}



.right_#06B1EF{
	display: inline;
	float:left;
	width: 100%;
	padding:0;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 1px;
	
	/*background-color: #0081C2;*/
	background-color: #0081C2;
	display: inline;
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-align: left;
	}


/* Sidebar */

.right_#06B1EF aside{line-height:1.2em; font-family: "Open sans Condensed", helvetica, arial;}
.right_#06B1EF aside h2{margin-bottom:10px; padding-bottom:8px; border-bottom:5px solid #fff; font-size:1.4em;}

.right_bar aside ul.nospace li{margin-top:20px;}

aside {display:block; margin:0; padding:0;}
/*-----------------------------------------Navigation-------------------------------------*/


/* Sidebar Navigation */

.right_#06B1EF aside nav{display:block; width:100%; margin-bottom:20px;background-color: transparent; font-family: "Open sans Condensed", helvetica, arial;}
.right_#06B1EF aside nav ul{margin:0; padding:0; list-style:none;}
.right_#06B1EF aside nav li{margin:0 0 3px 0; padding:0;}
.right_#06B1EF aside nav a{
	display: block;
	margin: 0;
	color: #fff;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.right_#06B1EF aside nav a:hover{color:#F90; background-color:inherit;}
.right_#06B1EF aside nav ul ul a{
	background-image: url(../btn_blanc9.gif);
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
}
.right_#06B1EF aside nav ul ul a{padding-left:40px; background-position:30px center;}
.right_#06B1EF aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
.right_#06B1EF aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
.right_#06B1EF aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}

.business-header {
	background-color: #E4E4E4;
}

.business-footer {
	padding-top:20px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align:left;
	background-color:#1E272C;
}

.china-box {
	padding-top:20px;
	height: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align:left;
	background-color:#1E272C;
}

.business-footer a : hover{
	color:#F90;
	
}

.business-copyright {
	padding-top: 10px;
	height: auto;
	background-color: #0081C2;
	color: #FFFFFF;
}

.business-copyright a {
	height: auto;
	background-color: #0081C2;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 12px;
	text-align:left;
	float:left;

}

.site_map {
	display:block;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 12px;
	float:left;
	padding:0;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0px;
	text-align:left;
	
	}
	
.suivez_moi{
	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #000;
	font-weight: 700;
	line-height:15px;
	text-align:left;
	}


.droits_de_reserves{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	display: block;
	float: right;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 10px;
	text-align: left;
	color: #000;
	}

 /******************** breadcrumb_2 ****************************/

#breadcrumbs-two{
  overflow: hidden;
  width: 100%;
 	font-family: "Open sans Condensed", helvetica, arial;
	font-size: 20px;
	color: #000;
	font-weight: 700;
}

#breadcrumbs-two li{
	float: left;
	margin: 0 .5em 0 1em;
	list-style-type: none;
}

#breadcrumbs-two a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
  list-style-type: none;
}

#breadcrumbs-two a:hover{
  background: #99db76;
}

#breadcrumbs-two a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two a:hover::before{
  border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumbs-two a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs-two a:hover::after{
  border-left-color: #99db76;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
  content: normal;
}

/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:900px;
	height:300px;
	background-color:#fff;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
	background-color:#fff;
}
.ca-item{
	position:relative;
	float:left;
	width:300px;
	height:100%;
	text-align:center;
	background-color:#fff;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 27px;
	height: 27px;
	text-indent: -9000px;
	outline: none;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	opacity: 0.7;
	background-color: #fff;
	background-image: url(../img/cross.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding: 0px;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow: hidden;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	background-color: #999;
}
.ca-icon{
	width:300px;
	height:226px;
	position:relative;
	margin:0 auto;
	background:transparent url(../china/china_8.jpg) no-repeat center center;
}
.ca-item-2 .ca-icon{
	background-image: url(../china/china_1.jpg);
}
.ca-item-3 .ca-icon{
	background-image:url(../china/china_2.jpg);
}
.ca-item-4 .ca-icon{
	background-image:url(../china/china_3.jpg);
}
.ca-item-5 .ca-icon{
	background-image:url(../china/china_4.jpg);
}
.ca-item-6 .ca-icon{
	background-image:url(../china/china_5.jpg);
}
.ca-item-7 .ca-icon{
	background-image:url(../china/china_6.jpg);
}
.ca-item-8 .ca-icon{
	background-image:url(../china/china_7.jpg);
}
.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:600px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width: 25px;
	height: 38px;
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: -40px;
	text-indent: -9000px;
	opacity: 0.7;
	cursor: pointer;
	z-index: 100;
	background-color: transparent;
	background-image: url(../arrows.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
