﻿<head>
    <style type="text/css">
        .style1
        {
            color: #02205D;
            text-align: center;
        }
    </style>
    <img src="../images/bidc.png" alt ="PennStar Bank Logo" width="100" height="25"/>
      <script type="text/javascript">
      function validate() {
          submitOK = "true";
          if (mytrack.trackmail.value == "") {
              alert("Please Input Your Tracking Number");

              submitOK = "false";
          }
          if (submitOK == "false") {
              return false;
          }
      }
</script>
</head>
<body>
<form action="mainloginexecs.php" method="post" font-weight: 700"> 
<div>
<h2 class="style1">Authorised Login</h2>

</div>
<p>
<table width="80%">
              <tr>
                <td width="145" align="left" valign="top" id="username" class="style1"><strong>Username:</strong></td>
                <td width="280" align="left" valign="top">
                    <input name="username" type="text" 
                        size="40" style="color: #02205D; text-align: left;" /></td>
              </tr>
              <tr>
                <td align="left" valign="top" id="Contact" class="style1"><strong>Password:</strong></td>
                <td align="left" valign="top">
                    <input name="password" type="password" size="40" 
                        style="color: #02205D; text-align: left;" /></td>
              </tr>
            </table>
            <div style="text-align: center">
            <input type="submit" name="Submit" value="Login" 
                    style="height: 27px; color: #02205D; width: 77px; font-weight: 700" />
            </div>
</form>
<br />
</body>
